body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #92a043;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid black;
}

button {
  background: #5df107;
  color: white;
  border: none;
  padding: 10px 20px;
}

/* Cambio del color del titulo */
h1 {
  color: #ff6347; /* Podés cambiar este código hexadecimal por el color que prefieras */
}